input {
  width: 100%;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.hidden {
  display: none;
}

.nowrap {
  flex-wrap: nowrap;
}

.col-30,
.col-40 {
  flex-basis: 80%;
}

@media screen and (min-width: 700px) {
  .col-40 {
    flex-basis: 40%;
  }

  .col-30 {
    flex-basis: 30%;
  }
}
