h1 {
  color: rgb(11, 31, 59);
  font-family: Rubik, sans-serif;
  padding: 10px;
  margin: 0;
}

header {
  background-color: rgb(246, 247, 255);
}

h3,
button {
  font-family: "Permanent Marker", cursive;
}

i,
h5 {
  font-family: Roboto, sans-serif;
  color: rgb(11, 32, 56);
}

input {
  color: rgb(151, 155, 158);
  padding: 6px 3px;
  border: 1px solid rgb(221, 224, 251);
  border-radius: 3px 0 0 3px;
}

label {
  color: white;
}

.mobile-navbar {
  color: rgb(247, 247, 255);
}

.space-between {
  justify-content: space-between;
}

.magnifying-glass {
  background-color: rgb(248, 247, 253);
  border: 1px solid rgb(221, 224, 251);
  padding: 5px;
  border-radius: 0 3px 3px 0;
}
