h1 {
  color: rgb(11, 31, 59);
  font-family: Rubik, sans-serif;
}

i,
h5 {
  color: rgb(9, 27, 47);
}

input {
  color: rgb(151, 155, 158);
}

label {
  color: white;
}

.mobile-navbar {
  color: rgb(247, 247, 255);
}

.space-between {
  justify-content: space-between;
}
