h1 {
  color: rgb(11, 31, 59);
  font-family: Rubik, sans-serif;
  padding: 10px;
  margin: 0;
}

header {
  background-color: rgb(246, 247, 255);
}

h3,
button {
  font-family: "Permanent Marker", cursive;
}

i,
h5 {
  font-family: Roboto, sans-serif;
  color: rgb(9, 27, 47);
}

input {
  color: rgb(151, 155, 158);
}

label {
  color: white;
}

.mobile-navbar {
  color: rgb(247, 247, 255);
}

.space-between {
  justify-content: space-between;
}
